<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style type="text/css">
      .cbuttons { display: flex; justify-content: center; margin: auto; width: 50%;}
      #textbox {height:200px;font-size:14pt;}
      #body {vertical-align: middle;}
    </style>
  </head>
  <body>
    <div style="text-align:center; margin-top:auto; margin-bottom:auto;">
      <img src="/img/logo.png" style="align: center;">
      <form class="cbuttons" action="/data" method="post">
        <input type="text" id="textbox" name="query" style="width: 90%; height: 10%;"><br>
        <input type="submit" value="Search">
      </form>
    </div>
  </body>
</html>
